body {
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    background-color: #1f2937;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.secondary-text,
a {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: white;
}

.placeholder {
    color: white;
}