body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.hero {
    background-color: #1f2937;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}

.information {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.header {
    align-items: center;
    padding-top: 16px;
}

.hero {
    gap: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 8px;
}

.secondary-text,
a {
    font-size: 18px;
    color: #e5e7eb;
}

.secondary-text {
    margin-bottom: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 6px 24px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
}

.container {
    flex: 1;
}

.placeholder {
    color: white;
    background-color: gray;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.sections {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info .text {
    color: grey;
    font: 18px;
    text-align: center;
}

.info .image {
    border: 2px solid #3882f6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    min-width: 150px;
    align-self: center;
}